{% extends "layout/base.twig" %}

{% from "macros.twig" import class_item, class_name, class_type, member_signature %}

{% block title %}
{% set title = class %}
{{ parent() }}
{% endblock %}

{% block content %}
{% if class.shortdesc %}

{{ class.shortdesc|raw }}
{% endif %}
{% if class.longdesc %}

Описание
-----------

{{ class.longdesc|raw }}
{% endif %}

Сигнатура
---------

- **{{ class_type(class) }}**.
{% if class.final %}
- {{ class_type(class) }} помечен как **final**.
{% endif %}
{% if class.interfaces|length > 1 %}
- Реализует следующие интерфейсы:
{% for interface in class.interfaces %}
{{ class_item(interface, false, "    ") }}
{% endfor %}
{% elseif class.interfaces|length > 0 %}
- Реализует интерфейс {{ class_name(class.interfaces[0], true) }}.
{% endif %}
{% if class.parent %}
- Является подклассом класса {{ class_name(class.parent, true) }}.
{% endif %}
{% if class.constants %}

Константы
---------

{{ class_type(class) }} устанавливает следующие константы:

{% for constant in class.constants %}
- [`{{ constant.name }}`](#{{ constant.name }}){% if constant.shortdesc %} &mdash; {{ constant.shortdesc }}{% endif %}

{% endfor %}
{% for constant in class.constants if constant.longdesc %}

### `{{ constant.name }}` <a name="{{ constant.name }}"></a>

{{ constant.longdesc|raw }}
{% endfor %}
{% endif %}
{% if class.properties %}

Свойства
----------

{{ class_type(class) }} устанавливает следующие свойства:

{% for property in class.properties %}
- [`${{ property.name }}`](#${{ property.name }}){% if property.shortdesc %} &mdash; {{ property.shortdesc }}{% endif %}

{% endfor %}
{% for property in class.properties %}

### `${{ property.name }}` <a name="{{ property.name }}"></a>
{% if property.shortdesc %}

{{ property.shortdesc|raw }}
{% endif %}
{% if property.longdesc %}

#### Описание

{{ property.longdesc|raw }}
{% endif %}

#### Сигнатура

{{ member_signature("property", property) }}
{% endfor %}
{% endif %}
{% if class.methods %}

Методы
-------

Методы класса {{ class_type(class) }}:

{% for method in class.methods %}
- [`{{ method.name }}()`](#{{ method.name }}){% if method.shortdesc %} &mdash; {{ method.shortdesc }}{% endif %}

{% endfor %}

{% for method in class.methods %}
### `{{ method.name }}()` <a name="{{ method.name }}"></a>
{% if method.shortdesc %}

{{ method.shortdesc|raw }}
{% endif %}
{% if method.longdesc %}

#### Описание

{{ method.longdesc|raw }}
{% endif %}
{% if method.tags("see") %}

#### Кроме того

{% for tag in method.tags("see") %}
- `{{ tag[0] }}`{% if tag[1] is defined %} &mdash; {{ tag[1:]|join(" ") }}{% endif %}

{% endfor %}
{% endif %}

#### Сигнатура

{{ member_signature("method", method) }}
{% endfor %}
{% endif %}
{% endblock %}
